body{
    /* background-color: #3D5A80; */
    background-color:rgb(240,240,240);
    font-family: 'Nunito', sans-serif;
    
}
#content {
 display: flex;
 margin: 1em;
 padding-top: 2em;
}

#title {
    background-color:#98c1d9;
    text-align: center;
    margin: auto;
    width: 40%;
    border-radius: 2em;
    color: rgb(255, 255, 255);
}
#submit{
    background-color: #98c1d9;
    border-radius: 1.5em;
    color: rgb(255, 255, 255);
    border: none;
    padding:0.8em;
    box-shadow:2px 2px #000000a2;
}
main {
    padding: 1em;
    background-color: rgba(41, 50, 65, 0.78);
    color: rgb(255, 255, 255);
    width: 33%;
    border-radius: 2em;
}

.section { 
    margin-bottom: 2em;
}

#form {
    text-align: center;
}
#form label{
    padding:1em;
}
#form textarea  {
    vertical-align: middle;
    border-radius: 2em;
    text-indent: 0.5em;
    /* padding-top: 4%;
    line-height: 40%; */
    /* text-align: center; */
    
}
#canvas{
    margin: 1em;
}
#info {
    border-radius: 1.5em;
    padding:1em;
    display: none;
    background-color:#98c1d9;
}


@media only screen and (max-width: 1250px) {
    #content {
      flex-direction: column;
      /* justify-content: center; */
      /* margin-left:40%; */
      margin:0px;
      /* margin: auto; */
    }
    main {
        width: 90%;
        text-overflow: clip;
        margin: auto;
        /* margin: 1em; */
    }
    canvas{
        width: 90% !important;
        height: 70% !important;
        margin: auto;
    }
}